<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.freeboard.mapper.BoardSQLMapper">
	<!-- id는 메서드 명 -->
	<insert id="insert">
		INSERT INTO FB_Board
		VALUES(FB_Board_seq.nextval, 
		#{member_no}, 
		#{board_title}, 
		#{board_content}, 
		0, 
		SYSDATE 
		)
	</insert>
	
	<!-- 인터페이스 쪽 변수 명으로  -->
	<!-- 글 보기 기능 -->
	<!-- <![CDATA[]]> 무조건 문자라는 뜻 / xml는 <>가 문법처리하는 것이기때문에 이걸 넣음으로서 문자라고 명시해줌 -->
	<!-- Mybatic는 null값이 들어가면 에러가 발생해서 null값 넣는 처리를 해줘야한다. -->
	<!-- select에서는  resultType를 넣어줘야한다 -->
	<select id="selectByNo" resultType="com.ja.freeboard.vo.BoardVo">
	<![CDATA[
		SELECT * FROM FB_Board WHERE board_no = #{no}
	]]>
	</select>
	
	<!-- 전체 글 리스트 -->
	<select id="selectAll" resultType="com.ja.freeboard.vo.BoardVo">
	<![CDATA[
		SELECT * FROM FB_Board ORDER BY board_no DESC
	]]>
	</select>
	
	<!-- 글 삭제 기능 -->
	<delete id="delectByNo" >
	<![CDATA[
		DELETE FROM FB_Board WHERE board_no = #{no}
	]]>
	</delete>
	
	<!-- 글 쓰기 기능 -->
	<update id="update">
	<![CDATA[
		UPDATE FB_Board 
		SET 
			board_title = #{board_title},
			board_content = #{board_content}
		WHERE 
			board_no = #{board_no}
	]]>
	</update>
	
</mapper>



