<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ja.freeboard.mapper.UploadFileSQLMapper">
	<insert id="insert">
	<![CDATA[
		insert into FB_Upload_File 
		values(
		FB_Upload_File_seq.nextval,
		#{board_no},
		#{file_link_path},
		#{file_real_path},
		SYSDATE
		)
	]]>
	</insert>
	
	<select id="selectByBoardNo" resultType="com.ja.freeboard.vo.UploadFileVo">
	<![CDATA[
		select * 
		from FB_Upload_File
		where board_no = #{board_no}
	]]>	
	</select>
	
	
</mapper>